---
openapi: 3.0.1
info:
  title: Unblu
  description: Unblu API
  version: 6.9.1
servers:
  - url: https://unblu.cloud/unblu/rest/v3
security:
  - basicAuth: []
tags:
  - name: AccountSecrets
    description: Service to read account secret of current account<br>@since 4.3.0
  - name: Accounts
    description: With this service the accounts of the unblu system can be managed.
      Most of the provided interface needs super admin permissions. Especially if the
      edited account is not the one of the current user.<br> <br> The Account object
      can be expanded. If the query parameter expand is set to contactAddressId and/or
      billingAddressId (e.g ?expand=contactAddressId,billingAddressId) the address id's
      will be automatically resolved and wrapped into the object. This can also be done
      when sending the object<br>@since 4.3.0
  - name: Addresses
    description: With this service, the addresses of accounts can be managed.<br>@since
      4.3.0
  - name: ApiKeys
    description: With this service the api keys can be managed<br>@since 4.3.0
  - name: Availability
  - name: Avatars
    description: With this service, the avatar pictures can be managed.<br>@since 5.0.0
  - name: Bots
    description: Service to manage all kind of bots. Additionally the bots use this
      service to interact with a conversation/dialog.<br>@since 6.0.0
  - name: CannedResponses
    description: 'Service to manage canned responses.<br> The canned responses a user
    can edit and the once he can use for chat can differ. The once he can edit are
    depending on his role. The ones he can use in a chat depends on the team setup
    and his role. See the following policies for the list of chat messages available
    for chat: <ul> <li>All canned responses of the own user.</li> <li>All canned responses
    of the team cascade (the users team and all of the parent teams)</li> <li>All
    canned responses of the sub-teams if role is: SUPERVISOR or higher.</li> <li>All
    canned responses of all teams if role is: ADMIN or higher.</li> <li>All canned
    responses of the users account.</li> </ul> In comparison to this the creation/editing/deleting
    of canned responses follow the following policies: <ul> <li>All canned responses
    of the own user.</li> <li>All canned responses of the sub-teams if role is: SUPERVISOR
    or higher.</li> <li>All canned responses of all teams if role is: ADMIN or higher.</li>
    <li>All canned responses of the users account if role is: ADMIN or higher.</li>
    <li></li> </ul><br>@since 4.3.0'
  - name: Contacts
    description: Service to access the contact data for an account<br>@since 4.3.0
  - name: ConversationHistory
    description: Service to get the history of conversations<br>@since 5.1.0
  - name: ConversationTemplates
    description: Service to manage all conversation templates.<br>@since 5.1.0
  - name: Conversations
    description: Service to manage conversations.<br>@since 5.1.0
  - name: Domains
    description: Service to manage the domains of the account. A domain needs to be
      defined to use unblu on it.<br>@since 4.3.0
  - name: ExternalMessengers
    description: Manages all types of @link{ExternalMessengerChannel} and can be used
      to send messages from external messengers into a collaboration server conversation.<br>@since
      6.0.0
  - name: Global
    description: With this service the global Unblu system can be managed.<br> <br>
      For super-admin the Global object can be expanded to set configuration or translations.
  - name: NamedAreas
    description: Service to manage named areas.<br>@since 4.3.0
  - name: Persons
    description: Service to manage virtual or bot persons<br>@since 5.1.0
  - name: Services
    description: Service which provides metadata information for all services and used
      types.<br>@since 4.3.0
  - name: Teams
    description: Service to manage all teams in the system. For each account there is
      always a default team, which users are assigned to, when no explicit team is set.<br>@since
      4.3.0
  - name: Users
    description: Service to manage all users in the system.<br>@since 4.3.0
  - name: WebhookCallLogs
    description: Service to get logs of webhook calls<br>@since 4.3.0
  - name: WebhookRegistrations
    description: Service to manage all webhook registrations<br>@since 4.3.0
  - name: authenticator
    description: Service to login with user or switch to other accounts/users by impersonating
      them.<br>@since 4.3.0
paths:
  /accountsecrets/getCurrentAccountSecret:
    get:
      tags:
        - AccountSecrets
      description: getCurrentAccountSecret operation
      operationId: accountSecretsGetCurrentAccountSecret
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSecret'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /accounts/create:
    post:
      tags:
        - Accounts
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: accountsCreate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/delete:
    get:
      tags:
        - Accounts
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: accountsDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/getByName:
    get:
      tags:
        - Accounts
      description: Returns an account by the given name or null, if there is no such
        account<br>
      operationId: accountsGetByName
      parameters:
        - name: name
          in: query
          description: The name of the account which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The account for the given name or null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/getCurrentAccount:
    get:
      tags:
        - Accounts
      description: Returns the account object of the current logged in user<br>
      operationId: accountsGetCurrentAccount
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The account of the current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /accounts/isAccountNameAvailable:
    get:
      tags:
        - Accounts
      description: Checks if the account name is available for the given account id<br>@throws
        StorageException If there went something wrong while checking the account
        name
      operationId: accountsIsAccountNameAvailable
      parameters:
        - name: name
          in: query
          description: The name which should be checked
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: accountId
          in: query
          description: The account id of the user for who the account should be set.
            When changing the name of an existing account, its id should be given. When
            the name is set to the one of the account, it will then also return true.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: true if the account name is not used or if the owning account
            is the same one.
          content:
            application/json:
              schema:
                type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /accounts/read:
    get:
      tags:
        - Accounts
      description: Returns the entity for the given id<br>
      operationId: accountsRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/readMultiple:
    post:
      tags:
        - Accounts
      description: Gets a list of entities for the given id's<br>
      operationId: accountsReadMultiple
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The id's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/search:
    post:
      tags:
        - Accounts
      description: Search for accounts<br>
      operationId: accountsSearch
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountQuery'
        required: true
      responses:
        "200":
          description: the result list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPER_ADMIN
  /accounts/update:
    post:
      tags:
        - Accounts
      description: Allows to update the current account as admin. If user is super
        admin, he can also update other accounts<br>@throws StorageException Thrown
        if account could not be updated
      operationId: accountsUpdate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The account entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        required: true
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/create:
    post:
      tags:
        - Addresses
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: addressesCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/delete:
    get:
      tags:
        - Addresses
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: addressesDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/read:
    get:
      tags:
        - Addresses
      description: Returns the entity for the given id<br>
      operationId: addressesRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/readMultiple:
    post:
      tags:
        - Addresses
      description: Gets a list of entities for the given id's<br>
      operationId: addressesReadMultiple
      requestBody:
        description: The id's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/search:
    post:
      tags:
        - Addresses
      description: Search for addresses in the current account<br>
      operationId: addressesSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /addresses/update:
    post:
      tags:
        - Addresses
      description: Updates the entity in the system with the given entity.<br>@throws
        StorageException If the entity could not be updated
      operationId: addressesUpdate
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance
            for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/create:
    post:
      tags:
        - ApiKeys
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: apiKeysCreate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/delete:
    get:
      tags:
        - ApiKeys
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: apiKeysDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/getByKey:
    get:
      tags:
        - ApiKeys
      description: Returns the api key object for the given api key string in the
        current account<br>
      operationId: apiKeysGetByKey
      parameters:
        - name: apiKey
          in: query
          description: The api key for which the object should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The api key object for the given key string or null if none
            is found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/getDefaultForAccountId:
    get:
      tags:
        - ApiKeys
      description: Returns the default api key for the given account id. If the id
        of the account does not match with the one from the current user, null is
        returned<br>
      operationId: apiKeysGetDefaultForAccountId
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The default api key for the current account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/getQuotaUsage:
    get:
      tags:
        - ApiKeys
      description: Returns the number of entities already existing (for the current
        account)<br>
      operationId: apiKeysGetQuotaUsage
      responses:
        "200":
          description: the number of entities already existing (for the current account)
          content:
            application/json:
              schema:
                type: integer
                format: int32
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - SUPERVISOR
  /apikeys/read:
    get:
      tags:
        - ApiKeys
      description: Returns the entity for the given id<br>
      operationId: apiKeysRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/readMultiple:
    post:
      tags:
        - ApiKeys
      description: Gets a list of entities for the given id's<br>
      operationId: apiKeysReadMultiple
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The id's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/search:
    post:
      tags:
        - ApiKeys
      description: Search for api keys in the current account<br>
      operationId: apiKeysSearch
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /apikeys/update:
    post:
      tags:
        - ApiKeys
      description: Updates the entity in the system with the given entity.<br>@throws
        StorageException If the entity could not be updated
      operationId: apiKeysUpdate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance
            for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /availability/getAgentAvailability:
    get:
      tags:
        - Availability
      description: Returns the current availability state a given named area and locale.<br>
      operationId: availabilityGetAgentAvailability
      parameters:
        - name: locale
          in: query
          description: the locale (BCP 47 language tag form including region if available)
            to check the availability for. If omitted the service checks for the availability
            of agents that did not filter the queue by language
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: namedAreaSiteId
          in: query
          description: the siteId (meta tag or domain) of the named area to check the
            availability for. If omitted the service checks for the availability of
            agents that did not filter the queue by named area
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: the availability state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EAvailabilityState'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /avatars/create:
    post:
      tags:
        - Avatars
      description: Creates the avatar in the system. The id can not be set for create
        operation, a new one is generated.<br>@throws StorageException If the entity
        could not be created
      operationId: avatarsCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Avatar'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /avatars/read:
    get:
      tags:
        - Avatars
      description: Returns the avatar for the given id<br>
      operationId: avatarsRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /bots/acceptDialogOffer:
    get:
      tags:
        - Bots
      description: Accepts a dialog offer that was triggered either via a @link{BotOnboardingOfferEvent},
        @link{BotReboardingOfferEvent} or a @link{BotOffboardingOfferEvent}webhook.
        <p> Accepting the dialog offer will result in the dialog bot participating
        in the offered dialog. As soon as it is the dialogs turn it will receive a@link{BotDialogOpenEvent}
        webhook.<br>
      operationId: botsAcceptDialogOffer
      parameters:
        - name: dialogOfferToken
          in: query
          description: the onboarding-, reboarding- or offboarding-offer token contained
            in the webhook.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The dialogToken which can later be used to send messages and
            hand off the dialog.
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/create:
    post:
      tags:
        - Bots
      description: Creates a new dialog bot that can be used for conversation onboarding,
        reboarding and offboarding.<br>
      operationId: botsCreate
      requestBody:
        description: The dialog bot to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotData'
            examples:
              create-for-visitors-onboarding:
                summary: create for visitors onboarding
                description: Create a new dialog bot
                value:
                  $_type: DialogBotData
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  name: test-bot-1
                  description: null
                  botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                  webhookStatus: INACTIVE
                  webhookEndpoint: https://test.unblu.com
                  webhookSecret: null
                  onboardingOrder: 10
                  reboardingOrder: 10
                  offboardingOrder: 10
                  onboardingFilter: VISITORS
                  reboardingEnabled: false
                  offboardingFilter: NONE
                  needsCounterpartPresence: false
        required: true
      responses:
        "200":
          description: The created dialog bot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                create-for-visitors-onboarding:
                  summary: create for visitors onboarding
                  description: New dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: https://test.unblu.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: VISITORS
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
        default:
          $ref: '#/components/responses/ErrorResponse'
      callbacks:
        bot.dialog.closed:
          '{$request.body#/endpoint}':
            post:
              description: Event emitted when a dialog between a person and a bot
                closes. <br> After this event has been received, no further messages
                can be sent in this dialog.<br> It should be used to clean up all
                resources connected to this dialog. <p> <b>Note:</b> This event may
                be sent before the bot actively hands of the dialog if i.e. the conversation
                is ended beforehand or the counterpart leaves the conversation. <p>
                This event will only be delivered to the dialog bots that accepted
                dialog offer for this dialog beforehand.<br>@since 6.0.0
              operationId: botDialogClosedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogClosedEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.message:
          '{$request.body#/endpoint}':
            post:
              description: Event emitted when a new message in a dialog between a
                person and a bot is sent. <p> This event will only be delivered to
                the dialog bots that accepted dialog offer for this dialog beforehand.<br>@since
                6.0.0
              operationId: botDialogMessageCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogMessageEvent'
              responses:
                "200":
                  description: OK
        bot.dialog.opened:
          '{$request.body#/endpoint}':
            post:
              description: Event emitted when a dialog between a person and a bot
                starts. <br> After this event has been received, messages may be sent
                in this dialog using the passed dialogToken <p> This event will only
                be delivered to the dialog bots that accepted dialog offer for this
                dialog beforehand.<br>@since 6.0.0
              operationId: botDialogOpenedCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotDialogOpenEvent'
              responses:
                "200":
                  description: OK
        bot.offboarding_offer:
          '{$request.body#/endpoint}':
            post:
              description: 'Event sent when a person offboards a conversation, giving
                the bot a chance to participate in the offboarding of this person.
                <p> This may be triggered by several things: <ul> <li><b>A person
                leaves a conversation:</b> A bot can participate in the offboarding
                process of this person.</li> <li><b>A conversation is ended:</b> A
                bot can participate in the offboarding process for every person in
                the conversation.</li> </ul> A bot can accept or decline the dialog
                offer by responding via the bot web API with the given @link{}. <p>
                <b>Note:</b> <ul> <li>if the offboarding person does not fit the offboarding
                filter defined in the @link{DialogBot} the webhook will not be sent
                to it''s endpoint.</li> <li>the bot MUST respond to this webhook or
                else the offboarding person will have to wait for a timeout before
                it can proceed it''s offboarding</li> </ul><br>@since 6.0.0'
              operationId: botOffboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOffboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.onboarding_offer:
          '{$request.body#/endpoint}':
            post:
              description: Event sent when a person joins a conversation, giving the
                bot a chance to participate in the onboarding of this person. <p>
                A bot can accept or decline the dialog offer by responding via the
                bot web API with the given @link{}. <p> <b>Note:</b> <ul> <li>if the
                onboarding person does not fit the onboarding filter defined in the
                @link{DialogBot} the webhook will not be sent to it's endpoint.</li>
                <li>the bot MUST respond to this webhook or else the onboarding person
                will have to wait for a timeout before it can proceed it's onboarding</li>
                </ul><br>@since 6.0.0
              operationId: botOnboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotOnboardingOfferEvent'
              responses:
                "200":
                  description: OK
        bot.reboarding_offer:
          '{$request.body#/endpoint}':
            post:
              description: Event sent when a person writes a message to an unassigned
                conversation, giving the bot a chance to participate in the reboarding
                of this person. <p> A bot can accept or decline the dialog offer by
                responding via the bot web API with the given @link{}. <p> <b>Note:</b>
                <ul> <li>if the reboardingEnabled flag in @link{DialogBot} is disabled,
                the webhook will not be sent to it's endpoint.</li> <li>the bot MUST
                respond to this webhook or else the reboarding person will have to
                wait for a timeout before it can proceed it's reboarding</li> </ul><br>@since
                6.0.0
              operationId: botReboardingOfferCallback
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/BotReboardingOfferEvent'
              responses:
                "200":
                  description: OK
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/declineDialogOffer:
    get:
      tags:
        - Bots
      description: Declines a dialog offer that was triggered either via a @link{BotOnboardingOfferEvent},
        @link{BotReboardingOfferEvent} or a@link{BotOffboardingOfferEvent} webhook.
        <p> No further webhooks will be sent for this dialog.<br>
      operationId: botsDeclineDialogOffer
      parameters:
        - name: dialogOfferToken
          in: query
          description: the onboarding-, reboarding- or offboarding-offer token contained
            in the webhook.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/delete:
    get:
      tags:
        - Bots
      description: Deletes an existing dialog bot.<br>
      operationId: botsDelete
      parameters:
        - name: id
          in: query
          description: ID of the dialog bot.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/finishDialog:
    get:
      tags:
        - Bots
      description: 'Finishes the dialog. Depending on the given reason and if the
        dialog takes place during on-, re- or offboarding, this will have specific
        effects. See the table bellow. <p> <b>Reason: @link{}:</b><br> <ul> <li><b>Onboarding:</b>
        <ul> <li><b>Next Bot:</b> a further bot takes over the onboarding. <li><b>Activate
        Participation:</b> If no further bots are in the queue the participation is
        activated. For inbound requests this is the point where the conversation is
        added to the queue. For PIN conversation and invitations the person is simply
        placed into the conversation and can actively participate. </ul> <li><b>Reboarding:</b>
        <ul> <li><b>Next Bot:</b> a further bot takes over the reboarding. <li><b>Requeue
        Conversation:</b> If no further bots are in the queue the conversation is
        put back into the queue. </ul> <li><b>Offboarding:</b> <ul> <li><b>Next Bot:</b>
        a further bot takes over the offboarding. <li><b>End Participation:</b> If
        no further bots are in the queue the participation is ended and the offboarding
        person can no longer access it. </ul> </ul> <b>Reason: @link{}:</b><br> <ul>
        <li><b>Onboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation
        will be put in unassigned state and therefore will not be added to the queue
        as the problem is solved. New messages to the conversation will start reboarding.
        </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b> The conversation
        will be put in unassigned state and therefore will not be added to the queue
        as the problem is solved. New messages to the conversation will start reboarding
        again. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b> Independent
        if there are further bots in the queue the participation is ended and the
        offboarding person can no longer access it. </ul> </ul> <b>Reason: @link{}:</b><br>
        <ul> <li><b>Onboarding:</b> <ul> <li><b>Offboard Participant:</b> The participant
        is directly moved to the offboarding phase and won''t be allowed to enter
        the conversation. </ul> <b>Reboarding:</b> <ul> <li><b>Unassign Conversation:</b>
        The participant is directly moved to the offboarding phase and won''t be allowed
        to enter the conversation. </ul> <b>Offboarding:</b> <ul> <li><b>End Participation:</b>
        Independent if there are further bots in the queue the participation is ended
        and the offboarding person can no longer access the conversation. </ul> </ul><br>'
      operationId: botsFinishDialog
      parameters:
        - name: dialogToken
          in: query
          description: The dialog token contained in each bot dialog webhook.
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: reason
          in: query
          description: The reason why the dialog is finished
          required: false
          schema:
            $ref: '#/components/schemas/EBotDialogFinishReason'
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/getByName:
    get:
      tags:
        - Bots
      description: Searches for an existing dialog bot with the given name.<br>
      operationId: botsGetByName
      parameters:
        - name: name
          in: query
          description: Name of the dialog bot.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The dialog bot with the given name or <code>null</code> if
            none is found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                get-by-name-bot:
                  summary: get by name bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/pingWebhook:
    get:
      tags:
        - Bots
      description: Emits a @link{WebhookPingEvent} on the configured webhook for the
        dialog bot.<br>
      operationId: botsPingWebhook
      parameters:
        - name: dialogBotId
          in: query
          description: The ID of the dialog bot
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/read:
    get:
      tags:
        - Bots
      description: Reads an existing dialog bot.<br>
      operationId: botsRead
      parameters:
        - name: id
          in: query
          description: The ID of the dialog bot.
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The dialog bot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
              examples:
                read-bot:
                  summary: read bot
                  description: Dialog bot
                  value:
                    $_type: DialogBotData
                    id: c1a-ED06Dbat9daFBtC4l85
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    name: test-bot-1
                    description: null
                    botPersonId: BoL9zZSbQeGGXMfCLxWZ4g
                    webhookStatus: INACTIVE
                    webhookEndpoint: http://test.webhook.com
                    webhookSecret: null
                    onboardingOrder: 10
                    reboardingOrder: 10
                    offboardingOrder: 10
                    onboardingFilter: NONE
                    reboardingEnabled: false
                    offboardingFilter: NONE
                    needsCounterpartPresence: false
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/search:
    post:
      tags:
        - Bots
      description: Search for dialog bots in the current account<br>
      operationId: botsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/sendDialogMessage:
    post:
      tags:
        - Bots
      description: Sends a message as a bot into an ongoing dialog. <p> It can only
        be used after the bot received the @link{BotDialogOpenEvent} webhook for this
        dialog.<br>
      operationId: botsSendDialogMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotDialogPostMessage'
        required: true
      responses:
        "200":
          description: The action id of the message
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/sendMessage:
    post:
      tags:
        - Bots
      description: Sends a message as a bot into a conversation. <p> It can be used
        during the whole time of a conversation. It is unrelated to bot dialogs.<br>
      operationId: botsSendMessage
      requestBody:
        description: The message to send
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotPostMessage'
            examples:
              send-file-message:
                summary: send file message
                description: Send file message to the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                    - PtwoVi1O-2G9FFCR_rZLKQ
                  messageData:
                    $_type: FilePostMessageData
                    type: FILE
                    fileName: testImage.png
                    caption: See file below
                    fileData: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQBAMAAABykSv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURfolAT39/6qSgZ2hko6xpLeDbrzfdCUAAAFvSURBVHja7c8BDYBADASwBQfvAAkkSOCRgH8rmLgwAq2D1lYZy+hVIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiLvjxx7xuyOjI8QERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERedB5hXRH1koRERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERH5S2Sm3Pdeq7vUBkC2AAAAAElFTkSuQmCC
              send-question-message:
                summary: send question message
                description: Send question message to the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                    - PtwoVi1O-2G9FFCR_rZLKQ
                  messageData:
                    $_type: TextQuestionPostMessageData
                    type: TEXT_QUESTION
                    text: question text
                    questionType: SHORT_TEXT
                    hint: question hint
                    minCharacters: 4
                    maxCharacters: 300
                    additionalRegex: .*
              send-text-message:
                summary: send text message
                description: Send text message to the bot
                value:
                  $_type: BotPostMessage
                  conversationId: AcviDb210C5BoFd6e_79oan
                  senderPersonId: nta30CBa-6d1a89cE57Db_F
                  recipientPersonIds:
                    - PtwoVi1O-2G9FFCR_rZLKQ
                  messageData:
                    $_type: TextPostMessageData
                    type: TEXT
                    text: Hello, I am a bot. How can I help you?
        required: true
      responses:
        "200":
          description: The action id of the message
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /bots/update:
    post:
      tags:
        - Bots
      description: Updates an existing dialog bot.<br>
      operationId: botsUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DialogBotData'
        required: true
      responses:
        "200":
          description: The updated dialog bot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogBotData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /cannedresponses/create:
    post:
      tags:
        - CannedResponses
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: cannedResponsesCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponse'
            examples:
              create-for-account:
                summary: create for account
                description: Create a new canned response for the account
                value:
                  $_type: CannedResponse
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  ownerId: null
                  ownerType: ACCOUNT
                  key: niceDay
                  title: Have a nice day
                  text: It was great chatting with you, have a nice day!
              create-for-team:
                summary: create for team
                description: Create a new canned response for a team
                value:
                  $_type: CannedResponse
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  ownerId: 14F-6aDC8e5_cmT3bAa9Bd0
                  ownerType: TEAM
                  key: invite
                  title: Ask invite team member
                  text: I would like to have a second opinion on this. Is it OK for
                    you if I invite one of my colleague to this conversation?
              create-for-user:
                summary: create for user
                description: Create a new canned response for a user
                value:
                  $_type: CannedResponse
                  id: null
                  creationTimestamp: null
                  modificationTimestamp: null
                  version: null
                  accountId: null
                  ownerId: d5_2rD019scCA7eEB48U6ab
                  ownerType: USER
                  key: hello
                  title: Hello & help
                  text: Hello, how can I help you?
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CannedResponse'
              examples:
                create-for-account:
                  summary: create for account
                  description: New canned response for the account
                  value:
                    $_type: CannedResponse
                    id: EasFde6CRn83pnBCec_4Ds0
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    ownerId: A7d9E_0-c3cC4aoFDb85t6n
                    ownerType: ACCOUNT
                    key: niceDay
                    title: Have a nice day
                    text: It was great chatting with you, have a nice day!
                create-for-team:
                  summary: create for team
                  description: New canned response for a team
                  value:
                    $_type: CannedResponse
                    id: EasFde6CRn83pnBCec_4Ds0
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    ownerId: 14F-6aDC8e5_cmT3bAa9Bd0
                    ownerType: TEAM
                    key: invite
                    title: Ask invite team member
                    text: I would like to have a second opinion on this. Is it OK
                      for you if I invite one of my colleague to this conversation?
                create-for-user:
                  summary: create for user
                  description: New canned response for user created
                  value:
                    $_type: CannedResponse
                    id: EasFde6CRn83pnBCec_4Ds0
                    creationTimestamp: 1546300800000
                    modificationTimestamp: 1548979200000
                    version: 1
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    ownerId: d5_2rD019scCA7eEB48U6ab
                    ownerType: USER
                    key: hello
                    title: Hello & help
                    text: Hello, how can I help you?
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/delete:
    get:
      tags:
        - CannedResponses
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: cannedResponsesDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/getCannedResponsesAvailableForChat:
    get:
      tags:
        - CannedResponses
      description: 'Returns all CannedResponses that are available inside chat sessions
        for the calling user.<br> The user may be allowed to edit more than the returned
        canned responses if he has the rights. <p> <b>Note</b>: For editing use the
        @link{#getByOwnerTypeAndId(String,String)} or @link{#getAll()} service. </p><br>'
      operationId: cannedResponsesGetCannedResponsesAvailableForChat
      responses:
        "200":
          description: All canned response visible and usable for chat.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CannedResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/getWritableConfigurationScopes:
    get:
      tags:
        - CannedResponses
      description: Returns a list of all configuration scopes for which the calling
        user may add, delete or edits canned responses. Depending on the permissions
        of the users, these configuration scopes can be more then the ones which are
        available for the user in a chat.<br>
      operationId: cannedResponsesGetWritableConfigurationScopes
      responses:
        "200":
          description: All configurations scopes that the calling user may add, delete
            and edit canned responses for.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CannedResponseConfigurationScope'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/getWritableConfigurationScopesAvailableForChat:
    get:
      tags:
        - CannedResponses
      description: 'Returns all configurations scopes available for chat to the calling
        user that the calling user may add, delete and edit canned responses for.
        <p> <b>Note</b>: The returned scopes may be equal to or be a subset of the
        the scopes returned by @link{#getWritableConfigurationScopes()} depending
        on the user role.<br> </p>'
      operationId: cannedResponsesGetWritableConfigurationScopesAvailableForChat
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CannedResponseConfigurationScope'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/read:
    get:
      tags:
        - CannedResponses
      description: Returns the canned response for the given id<br>
      operationId: cannedResponsesRead
      parameters:
        - name: id
          in: query
          description: Id of the canned response which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The canned response of the id which should be returned. If
            it could not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CannedResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/readMultiple:
    post:
      tags:
        - CannedResponses
      description: Gets a list of canned responses for the given id's<br>
      operationId: cannedResponsesReadMultiple
      requestBody:
        description: The id's for which the canned responses should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of canned responses for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CannedResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/search:
    post:
      tags:
        - CannedResponses
      description: Search for domains in the current account<br>
      operationId: cannedResponsesSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponseQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CannedResponseResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /cannedresponses/update:
    post:
      tags:
        - CannedResponses
      description: Updates the entity in the system with the given entity.<br>@throws
        StorageException If the entity could not be updated
      operationId: cannedResponsesUpdate
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CannedResponse'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance
            for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CannedResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /contacts/create:
    post:
      tags:
        - Contacts
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: contactsCreate
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /contacts/delete:
    get:
      tags:
        - Contacts
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: contactsDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /contacts/read:
    get:
      tags:
        - Contacts
      description: Returns the entity for the given id<br>
      operationId: contactsRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /contacts/readMultiple:
    post:
      tags:
        - Contacts
      description: Gets a list of entities for the given id's<br>
      operationId: contactsReadMultiple
      requestBody:
        description: The id's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /contacts/search:
    post:
      tags:
        - Contacts
      description: Search for contacts in the current account<br>
      operationId: contactsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /contacts/update:
    post:
      tags:
        - Contacts
      description: Updates the entity in the system with the given entity.<br>@throws
        StorageException If the entity could not be updated
      operationId: contactsUpdate
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance
            for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversationhistory/read:
    get:
      tags:
        - ConversationHistory
      description: Returns the conversation history data for a given conversation.<br>
      operationId: conversationHistoryRead
      parameters:
        - name: conversationId
          in: query
          description: id of the conversation
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "200":
          description: the conversation history data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationHistoryData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationhistory/{conversationId}/searchMessages:
    post:
      tags:
        - ConversationHistory
      description: Search messages belonging to a specific conversation<br>
      operationId: conversationHistorySearchMessages
      parameters:
        - name: conversationId
          in: path
          description: id of the conversation
          required: true
          schema:
            type: string
          style: simple
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageQuery'
        required: true
      responses:
        "200":
          description: a list of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationtemplates/create:
    post:
      tags:
        - ConversationTemplates
      description: Creates the given entity in the system. The id of the entity can
        not be set for create operation, a new one is generated.<br>@throws StorageException
        If the entity could not be created
      operationId: conversationTemplatesCreate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The entity to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationTemplate'
        required: true
      responses:
        "200":
          description: The entity as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTemplate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversationtemplates/delete:
    get:
      tags:
        - ConversationTemplates
      description: Deletes the entity for the given id<br>@throws StorageException
        If the entity for the given id could not be deleted
      operationId: conversationTemplatesDelete
      parameters:
        - name: id
          in: query
          description: The id of the entity which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversationtemplates/getDefaultTemplateByEngagementType:
    get:
      tags:
        - ConversationTemplates
      description: Gets the default conversation template for a given initial engagement
        type
      operationId: conversationTemplatesGetDefaultTemplateByEngagementType
      parameters:
        - name: initialEngagementType
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EInitialEngagementType'
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTemplate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationtemplates/read:
    get:
      tags:
        - ConversationTemplates
      description: Returns the entity for the given id<br>
      operationId: conversationTemplatesRead
      parameters:
        - name: id
          in: query
          description: Id of the entity which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The entity of the id which should be returned. If it could
            not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTemplate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationtemplates/readMultiple:
    post:
      tags:
        - ConversationTemplates
      description: Gets a list of entities for the given id's<br>
      operationId: conversationTemplatesReadMultiple
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The id's for which the entities should be fetched
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: A list of entities for the given id's
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationTemplate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationtemplates/search:
    post:
      tags:
        - ConversationTemplates
      description: Search for conversation-templates in the current account<br>
      operationId: conversationTemplatesSearch
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationTemplateQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTemplateResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - REGISTERED_USER
  /conversationtemplates/update:
    post:
      tags:
        - ConversationTemplates
      description: Updates the entity in the system with the given entity.<br>@throws
        StorageException If the entity could not be updated
      operationId: conversationTemplatesUpdate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: The entity to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationTemplate'
        required: true
      responses:
        "200":
          description: The updated version of the entity. Use always this instance
            for further processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationTemplate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/addParticipant:
    get:
      tags:
        - Conversations
      description: Add a participant to a conversation.<br>
      operationId: conversationsAddParticipant
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: personId
          in: query
          description: Id of the person to add
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: connectedViaExternalMessenger
          in: query
          description: If the participant is sending messages via a messenger channel,
            this parameter must be set to true. Otherwise false or do not set.
          required: false
          schema:
            type: boolean
          style: form
          explode: true
        - name: hidden
          in: query
          description: If the person should be hidden or not. <b>Note:</b> only secondary
            agents and bots may be hidden.
          required: false
          schema:
            type: boolean
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/changeParticipantVisibility:
    get:
      tags:
        - Conversations
      description: Changes the visibility of a conversation's participant.<br>
      operationId: conversationsChangeParticipantVisibility
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: personId
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: hidden
          in: query
          required: false
          schema:
            type: boolean
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/create:
    post:
      tags:
        - Conversations
      description: Creates the conversation in the system. The id of the conversation
        must not be set for the 'create' operation as a new one will be generated.<br>
      operationId: conversationsCreate
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationData'
        required: true
      responses:
        "200":
          description: The created conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
              examples:
                create:
                  summary: create
                  description: New conversation created
                  value:
                    $_type: ConversationData
                    id: AcviDb210C5BoFd6e_79oan
                    accountId: A7d9E_0-c3cC4aoFDb85t6n
                    topic: null
                    recipient:
                      $_type: AccountData
                      id: A7d9E_0-c3cC4aoFDb85t6n
                      displayName: Main Account
                      avatar: null
                    participants:
                      - $_type: ParticipantData
                        state: CREATED
                        personId: nta30CBa-6d1a89cE57Db_F
                        connectedViaExternalMessenger: false
                        hidden: false
                    assigneePersonId: null
                    contextPersonId: nta30CBa-6d1a89cE57Db_F
                    state: CREATED
                    initialEngagementType: CHAT_REQUEST
                    locale: en
                    tokboxSessionId: null
                    conversationTemplateId: ab32em6Be-5le_48rE1F9Ad
                    links:
                      - $_type: ConversationLink
                        type: OPEN_IN_VISITOR_DESK
                        url: '...'
                      - $_type: ConversationLink
                        type: OPEN_IN_AGENT_DESK
                        url: '...'
                      - $_type: ConversationLink
                        type: OPEN_IN_AGENT_SINGLE_VIEW
                        url: '...'
                    externalMessengerChannelId: null
                    sourceId: null
                    configuration: null
                    text: null
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/delete:
    get:
      tags:
        - Conversations
      description: Deletes the conversation for the given id<br>
      operationId: conversationsDelete
      parameters:
        - name: id
          in: query
          description: The id of the conversation which should be deleted
          required: false
          schema:
            type: string
          style: form
          explode: true
      responses:
        "204":
          description: Ok
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/end:
    get:
      tags:
        - Conversations
      description: End a conversation.<br>
      operationId: conversationsEnd
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: reason
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EConversationEndReason'
          style: form
          explode: true
        - name: comment
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/getBySourceIdAndChannelId:
    get:
      tags:
        - Conversations
      description: Returns the conversation for the given source and channel id<br>
      operationId: conversationsGetBySourceIdAndChannelId
      parameters:
        - name: sourceId
          in: query
          description: The sourceId with which the conversation was created
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: externalMessengerChannelId
          in: query
          description: The messenger channel id to which the conversation is connected.
            Can be null for internal conversations.
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The conversation for the given source and channel id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/getConversationFiles:
    get:
      tags:
        - Conversations
      description: Returns a list of all files that have been shared/sent within the
        specified conversation.<br>
      operationId: conversationsGetConversationFiles
      parameters:
        - name: conversationId
          in: path
          description: the id of conversation, for which the file list should be retrieved
          required: true
          schema:
            type: string
          style: simple
          explode: false
      responses:
        "200":
          description: A list of all files for the conversation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationFileData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/offboardParticipant:
    get:
      tags:
        - Conversations
      description: Offboard a participant from a conversation.<br>
      operationId: conversationsOffboardParticipant
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: personId
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: reason
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EConversationLeftReason'
          style: form
          explode: true
        - name: comment
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/read:
    get:
      tags:
        - Conversations
      description: Returns the conversation for the given id<br>
      operationId: conversationsRead
      parameters:
        - name: id
          in: query
          description: Id of the conversation which should be returned
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The conversation of the id which should be returned. If it
            could not be found, null is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/search:
    post:
      tags:
        - Conversations
      description: Search for conversations in the current account<br>
      operationId: conversationsSearch
      parameters:
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationQuery'
        required: true
      responses:
        "200":
          description: A result container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResult'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/setAssigneePerson:
    get:
      tags:
        - Conversations
      description: Set an agent as assignee to a conversation. <p> <b>Note:</b> The
        person has to have an active participation in the conversation<br>
      operationId: conversationsSetAssigneePerson
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: personId
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/setContextPerson:
    get:
      tags:
        - Conversations
      description: Set a visitor as context person of a conversation. <p> <b>Note:</b>
        The person has to have an active participation in the conversation<br>
      operationId: conversationsSetContextPerson
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: personId
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/setLocale:
    get:
      tags:
        - Conversations
      description: Set the the locale of the conversation language (as BCP 47 language
        tag form including region if available).<br>
      operationId: conversationsSetLocale
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: locale
          in: query
          description: the new locale
          required: false
          schema:
            type: string
          style: form
          explode: true
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/setRecipient:
    post:
      tags:
        - Conversations
      description: Set a person, named area, team or account as the recipient of a
        conversation.<br>
      operationId: conversationsSetRecipient
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationRecipientData'
        required: true
      responses:
        "200":
          description: The updated conversation as it exists now in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationData'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-required-call-origin: TRUSTED
      x-required-role:
        - ADMIN
  /conversations/{conversationId}/updateConfiguration:
    post:
      tags:
        - Conversations
      description: Update the configuration map for a specific conversation<br>
      operationId: conversationsUpdateConfiguration
      parameters:
        - name: conversationId
          in: path
          description: the conversation that is updated
          required: true
          schema:
            type: string
          style: simple
          explode: false
        - name: expand
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
      requestBody:
        description: the key-value map of configuration
[...]
